h1 {
    font-size: 69px;
}

body {
    background-image: url('../../assets/background.png');
    background-size: cover;
}

main {
    display: flex;
}

.gifContainer {
    position: absolute;
    top: 70px;
    right: -1000px;
}

.funny, .cute, .cool {
    width: 400px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.funny {
    position: relative;
    right: -100px
}

.cute {
    position: relative;
    right: 100px
}

.cool {
    position: relative;
    right: -100px
}

button {
    background-color: transparent;
    border: none;
    transition: .5s all;
}

button:active,
button:focus,
button:hover {
    outline: none;
    transform: rotate(-20deg);
}